# Dependencias
node_modules

# Carpeta de compilación
build

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de entorno
.env
